.bg-video {
    height: 70vh;
    /*70vh эта еденица измерения означает
    70% от окна браузера*/
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*комменты внизу*/



.bg-video video {
    height: 70vh;
    /*70vh эта еденица измерения означает
    70% от окна браузера*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    /*растягивает видео по всем границам экрана*/
    z-index: 1;

}

/*комменты внизу*/

.video-text {
    color: aqua;
    z-index: 2;

}

.effect {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.155);
    /*Затемнили видео,но можно поставить любой эффект*/
}

/*position: relative
Относительное позиционирование сдвигает 
элемент относительно его обычного положения.
Для того, чтобы применить относительное позиционирование,
 необходимо указать элементу 
 CSS-свойство position: relative 
 и координаты left/right/top/bottom.
 
 position: absolute
Синтаксис:

position: absolute;
Абсолютное позиционирование делает две вещи:
Элемент исчезает с того места, где он должен быть 
и позиционируется заново. Остальные элементы, располагаются
 так, как будто этого элемента никогда не было.
Координаты top/bottom/left/right для нового местоположения
 отсчитываются от ближайшего позиционированного родителя, 
 т.е. родителя с позиционированием, отличным
  от static. Если такого родителя нет – 
  то относительно документа.
Кроме того:
Ширина элемента с position: absolute устанавливается 
по содержимому. Детали алгоритма вычисления ширины 
описаны в стандарте.
Элемент получает display:block, который перекрывает почти 
все возможные display 
(см. Relationships between „display“, „position“, 
and „float“).*/

/* display: flex;
    justify-content: center;
    align-items: center;
 z-index: 1;

z-index: 2; Все эти параметры для того чтобы текст
в теге h1 проявился на видео!

Z-index используется для стабилизации порядка 
элементов, которые перекрываются.
 Z-Index является важным свойством CSS.
  Оно указывает на уровень элемента в стеке. 
  Свойство z-index регулирует вертикальный порядок 
  перекрытия элементов, а сам z-index определяет, 
  какой элемент будет располагаться выше остальных. 
  Элемент с большим указателем порядка стека
   всегда будет располагаться выше элемента 
   более низкого порядка.*/